<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addMember();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Member Login Name</th>
                    <th>Member Display Name</th>
                    <th>Member Mail</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].member_login_name%></td>
                    <td><%=data[i].member_name%></td>
                    <td><%=data[i].member_mail%></td>
                    <td>
                        <a class="a-inside edit" href="../members/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../members/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="5">No member</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
